<html>

<head>
  <style>
    body {
      font-family: :Arial, Helvetica, sans-serif;
    }
  </style>
</head>

<body>
  <strong>Olá, {{ user.name}}</strong>
  <p>Você esqueceu sua senha? Não tem problema, utilize este link: <a
      href=`http://localhost:/forgotPassword/{{ token }}`
      target="_blank">http://localhost:/forgotPassword/{{ token }}</a></p>
</body>

</html>