<html>

<head>
  <style>
    body {
      font-family: :Arial, Helvetica, sans-serif;
    }
  </style>
</head>

<body>
  <strong>Olá, {{ name }}</strong>
  <p>Este é um e-mail de redefinição de senha do netMap! Se você não
    solicitou este e-mail, por favor, entre em contato conosco.
  </p>
  <p>Clique no link abaixo e informe seu email e nova senha.
    <br />
    <a href=`http://localhost:3000/resetPassword/{{ token }}`
      target="_blank">http://localhost:3000/resetPassword/{{ token }}</a>
  </p>
</body>

</html>