<html>

<head>
  <style>
    body {
      font-family: :Arial, Helvetica, sans-serif;
    }
  </style>
</head>

<body>
  <strong>Olá, {{ user.name}}</strong>
  <p>Você esqueceu sua senha? Não tem problema, utilize este token: <strong>{{ token }}</strong></p>
</body>

</html>